 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Info</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Artistas
                      </a>
                      
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        
                        <a class="dropdown-item" href="https://www.facebook.com/cocodrilolive/?__xts__%5B0%5D=68.ARDbl47D7c2R7kK6aJVp1mUiwmdHIjOg3_esOW1fHXHBnVTJZuzYzetnPkxGKuJzv_Z5mMckpc778ypfJVzHw_rb9-H4vuVF9AGHNopZO5BcAROvGn5cg0dAMD6DIWcVN6zHSJZndQ1Mu1PjonrsZKoUi5TJUQXqGZMa_ZpXbNCC6U4RTdKS" target="_blank">Cocodrilo</a>
                        <a class="dropdown-item" href="https://www.facebook.com/david.calderonleon?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">David Calderón León</a>
                        <a class="dropdown-item" href="https://www.facebook.com/julibri420?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">Julibri Rodriguez</a>
                        <a class="dropdown-item" href="https://www.facebook.com/djpepewash/?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">PEPE WASH</a>
                        <a class="dropdown-item" href="https://www.facebook.com/pandemiatrance/?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">Pandemia</a>
                        <a class="dropdown-item" href="https://www.facebook.com/seggae/?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">Seggae</a>
                        <a class="dropdown-item" href="https://www.facebook.com/Macutzindeka/?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">Macutzin</a>
                        <a class="dropdown-item" href="https://www.facebook.com/shove28/?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">Shove</a>
                        <a class="dropdown-item" href="https://www.facebook.com/ariel.dumosca?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">Ariel Quetpsycoatl</a>
                        <a class="dropdown-item" href="https://www.facebook.com/Katun01/?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">Katun</a>
                        <a class="dropdown-item" href="https://www.facebook.com/Molochpsy/?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">Moloch</a>
                        <a class="dropdown-item" href="https://www.facebook.com/Xolotlsaiko/?fref=mentions&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=K-R" target="_blank">Xolotl</a>
                    </div>
                    
                </li>
            </ul>
        </div>
    </nav>
