{{> head}}
   
{{> navbar}}

    <div class='row'>
        <div class='col-5'>
            <img src="/assets/img/dekadenz.png" alt="Dekadenz" class='img-thumbnail'>
        </div>
        <div class='col-7'>
            
            <div class='info'>
                <h1>SAIKIZA</h1> 
                <h2>Noviembre 25, 2018</h2>
                <h3>Comienzo a las 00:00 horas</h3>
            </div>
            <p>
            "En caso de duda, vomita espuma verde" es el lema de Dekadenz Studios, la creación de un grupo de amigos, cuya explotación incluye a Cocodrilo, David Calderón León, Julibri Rodriguez, PEPE WASH, Pandemia, Seggae, Macutzin, Shove, Ariel Quetpsycoatl, Katun, Moloch y Xolotl entre otros. 
            Hoy se ocupan de poner el desorden en la sección de actos en vivo de medianoche en gran parte de las fiestas psicodélicas. Aquí, trazaremos la dedicación de toda nuestra vida a la psicodelia, la desfiguración, la mutación y el sexo obsceno.        
            </p>
        </div>
        

    </div>

{{> footer}}