{{> head}}
   
    {{> navbar}}
    <div class='container-fluid'>
        <a href="https://www.facebook.com/DeKadenz-%E6%9C%80%E9%AB%98-411948069165907/?hc_ref=ARSsLzDXoNKeJHwK4Zu2-FdtCyBD4arai8yzCreOfnmae6-qOWOGc5QPB-T34Fy0wVc&fref=nf&__xts__%5B0%5D=68.ARCiH_mTmxiq8vYEphO5cScmgEkaqxhlz2FdkCWWx1dmi9j9JbAUaj_owF4KfMa7slqhXcPEl0yhLCGuIEm_6GNC5abYV1Fk8nIAXRjBFdW0LNwudY7Tw4ZGcf2VfFyKJRUiMASpy6rHW1Z7ke0txPmGOA2C_iYRfKO5ldAo2oNgjE988JZn&__tn__=kC-R" target="_blank">
            <img src="/assets/img/saikiza.jpg" alt="Saikiza" class='imag'>
            </a>
        </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"> {{name}}!</h1>
            <p class="lead">最高</p>
        </div>
    </div>

    {{> footer}}