{{> head}}
   
    {{> navbar}}
    <div class='container-fluid'>
            <img src="/assets/img/saikiza.jpg" alt="Saikiza" class='imag'>
        </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"> {{name}}!</h1>
            <p class="lead">Saiko</p>
        </div>
    </div>

    {{> footer}}